* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

.button  {
    font-family: 'Comfortaa', sans-serif;
    font-size: var(--body-1);
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    padding: 0.8rem 1.3rem;
    display: flex;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}