:root {
/* Text-size styles */
    /*font-size: 33px;
/* base size: heading-1 (33px) */
    --heading-1: 33px;
    --heading-2: 32px;
    --body-1: 16px;
    --body-2: 14px;
    --heading-3: 24px;

    --blue: #3D4A54;
    --beige:#F2D8AE;
    --light-gray:#F9F9F9;
}