.header-oeuvre {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;

    width: 100%;
    height: 60vh;
    max-height: 336px;


    color: white;
    font-family: 'Comfortaa', sans-serif;

    overflow: hidden;
}

.header-oeuvre__background-img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    filter: blur(3px);
}

.header-oeuvre__text {
    align-self: flex-start;
    width: 55%;
    margin: 0.5rem 2rem;

    font-weight: 100;
    font-size: var(--body-1);
}

.header-oeuvre__title {
    font-family: 'commissioner', sans-serif;
    font-weight: 900;
    margin: 1rem 1rem;
}