.caroussel {
    position: relative;
    margin: 1rem 0rem;
}

.caroussel__parent-ecran {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.caroussel__figure {
    margin: 0;
}

.caroussel__screen {
    width: 80%;
    flex: none;
    scroll-snap-align: center;
}

.caroussel__img {
    width: 100%;
    object-fit: cover;
}
