.caroussel {
    position: relative;
    margin: 1rem 0rem;
    padding: 2rem 0rem;
    
}

.caroussel__parent-ecran {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.caroussel__figure {
    margin: 0;
}

.caroussel__screen {
    width: 80%;
    flex: none;
    scroll-snap-align: center;
    border-bottom: 1px solid #000;
}

.caroussel__img {
    width: 98%;
    object-fit: cover;
    margin-right: 1rem;
}

.caroussel__text {
    font-family: 'Comfortaa', sans-serif;
    font-size: var(--body-1);
    margin: 0rem 0.5rem;
    padding-left: 0.3rem;
    padding-top: 1rem;
    border-left: 1.5px solid #000;
}

.caroussel__parent-ecran::-webkit-scrollbar {
    height: 5px;
}

.caroussel__parent-ecran::-webkit-scrollbar-thumb {
    background-color: #3b3b3b; 
}

.caroussel__parent-ecran::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
