.info {
    background-color: var(--beige);
    padding: 2rem 3rem;
}

.info__text {
    font-family: 'Comfortaa', sans-serif;
}

.info__title {
    margin: 0;
    font-size: var(--heading-3);
    font-weight: 700;
    width: 65%;
    margin-bottom: 1rem;
}

.info__date {
    font-size: var(--body-2);
}

.info__line {
    border: 1px solid #000;
    margin: 1rem 0rem;
}

.info__place {
    font-size: var(--body-1);
    font-weight: 300;
}