.tarif {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;
    gap: 0.3rem;
}

.tarif__content {

    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 0rem 2rem;
    padding: 0rem 1rem;
    background-color: #fff;
}

.tarif__title {
    align-self: center;
    font-size: var(--heading-3);
    font-weight: 700;
}

.tarif__main-prices {
    font-size: var(--body-1);
}

.tarif__secondary-prices {
    margin-top: 1.5rem;
    width: 90%;
}

.tarif__button {
    align-self: flex-end;
    margin: 0.5rem 2rem 1rem 2rem;
}


.tarif__img {
    position: relative;
    z-index: -1;

    width: 90%;
    bottom: 2rem;

    animation: fade-scroll linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
}

